<div class="content">
  <div id="mapp" #mapbox class="map-box">

    <div class="menu-map">

      <div class="set-address">
        <h1>¿Donde te recogemos?</h1>
        <input class="input" type="text" value="Ingresa tu destino">
      </div>

      <div class="content-default-address">
        <h1>Dirección por defecto</h1>
        <div class="address-info">
          <p class="tag-address">Mi Casa</p>
          <p class="address">Calle 123 123</p>
        </div>
      </div>

      <div class="content-favourites">
        <h1>Favoritos</h1>
        <div class="address-item">
          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">place</mat-icon> -->
          <div class="address-info">
            <p class="tag-address">Mi Casa</p>
            <p class="address">Calle 123 123</p>
          </div>
        </div>

        <div class="address-item">
          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">place</mat-icon> -->
          <div class="address-info">
            <p class="tag-address">Mi Casa</p>
            <p class="address">Calle 123 123</p>
          </div>
        </div>

        <div class="address-item">
          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">place</mat-icon> -->
          <div class="address-info">
            <p class="tag-address">Mi Casa</p>
            <p class="address">Calle 123 123</p>
          </div>
        </div>

        <div class="address-item">
          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">place</mat-icon> -->
          <div class="address-info">
            <p class="tag-address">Mi Casa</p>
            <p class="address">Calle 123 123</p>
          </div>
        </div>

        <div class="address-item">
          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">place</mat-icon> -->
          <div class="address-info">
            <p class="tag-address">Mi Casa</p>
            <p class="address">Calle 123 123</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>