
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar
{
  background-color: rgb(218, 218, 218);
  width: 4px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track
{
  background: rgba(218, 15, 15, 0);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}